---
http_interactions:
- request:
    method: get
    uri: https://api.chatwork.com/v2/rooms/1/files/1?create_download_url=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Chatworktoken:
      - 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b8b65d36-6c2f-44a6-a2c8-961c03e5072b
      X-Ratelimit-Reset:
      - '1587974191'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Ratelimit-Remaining:
      - '296'
      X-Amz-Apigw-Id:
      - LotUmHhrtjMFpcQ=
      X-Amzn-Remapped-Server:
      - nginx
      X-Ratelimit-Limit:
      - '300'
      X-Amzn-Remapped-Date:
      - Mon, 27 Apr 2020 07:52:48 GMT
    body:
      encoding: UTF-8
      string: '{"filesize":235524,"filename":"file-1.jpg","upload_time":1548516614,"download_url":"https://url/to/the/file"}'
  recorded_at: Mon, 27 Apr 2020 07:52:48 GMT
recorded_with: VCR 5.1.0
