---
http_interactions:
- request:
    method: get
    uri: https://api.chatwork.com/v2/rooms/1/messages?force=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Chatworktoken:
      - 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 4920d651-65b7-4dbd-92ee-2c1ee17b7379
      X-Ratelimit-Reset:
      - '1587951184'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Ratelimit-Remaining:
      - '295'
      X-Amz-Apigw-Id:
      - Ln1IiE_ENjMFQzw=
      X-Amzn-Remapped-Server:
      - nginx
      X-Ratelimit-Limit:
      - '300'
      X-Amzn-Remapped-Date:
      - Mon, 27 Apr 2020 01:29:13 GMT
    body:
      encoding: ASCII-8BIT
      string: '[
        {"message_id":"1","account":{"account_id":1,"name":"User 1"},"body":"Eeny"},
        {"message_id":"2","account":{"account_id":2,"name":"User 2"},"body":"Meeny"},
        {"message_id":"3","account":{"account_id":3,"name":"User 3"},"body":"Miny"},
        {"message_id":"4","account":{"account_id":4,"name":"User 4"},"body":"Moe"}
        ]'
  recorded_at: Mon, 27 Apr 2020 01:29:14 GMT
recorded_with: VCR 5.1.0
